/**
 * Tipografía
 */

@use 'variables';

body {
  hyphens: auto;
  font-family: variables.$font;
}

h1,
h2,
h3,
p,
a,
span,
.font-size-extra-large,
.font-size-large,
.font-size-medium,
.font-size-default,
.font-size-small,
.small-title,
.small-text {
  color: variables.$dark-background;
}

h1,
.font-size-extra-large {
  font-size: 5.6rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
  line-height: 110%;
}

h2,
.font-size-large {
  font-size: 2.8rem;
  font-weight: 500;
  margin-bottom: 1.6rem;
}

h3,
.font-size-medium {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1.7rem;
}

.small-title {
  display: block;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

p,
a,
span,
.icon,
.font-size-default {
  line-height: 140%;
  font-weight: 400;
  font-size: 1.8rem;
}

p {
  margin-bottom: 1.8rem;
}

a {
  text-decoration: underline;
}

.icon {
  font-size: 1.6rem;
}

time,
.font-size-small {
  display: block;
  margin-bottom: 1.9rem;
  font-size: 1.6rem;
}

time {
  margin-bottom: 1.5rem;
}

.small-text {
  font-size: 1.4rem;
}

/**
 * Material Icons
 */
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 1.6rem;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}